*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Raleway',sans-serif; 

}

body{
    background-image: url(/dia4/heartgold-soulsilver.png);
}

h1 { 
    color: black; 
    font-family:'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: 800; 
    line-height: 72px; 
    text-align: center; 
    text-transform: uppercase; 
}


header{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

section{

    display: flex;
    width: 100%;
    height: 840px;
    justify-content: space-around;
    align-items: center;


}

footer{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.divheader1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 60px;
}

.divheader2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 60px;

}

div{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;

}

img{

    height: 100px;
    width: 100px;
    margin-bottom: 30px;

}

input{

    border-radius: 20px;
    width: 50%;
    height: 40px;
    text-align: center;
}

button{

    border-radius: 20px;
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.pokediv{

    border: 1px solid black;
    width: 300px;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

p{
     
 color: black; 
 font-family:'Raleway',sans-serif; 
 font-size: 20px; 
 font-weight: 800; 
 line-height: 72px; 
 text-align: center; 
 text-transform: uppercase; 

}